.table1 {
  margin-left: 30px;
  margin-bottom: 5px;
  margin-top: 0px;
 
}
img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  float: left;
}
ul{
    line-height: 22px;
}
table.Tab th{
    /* margin: 20px;
    line-height: 20px; */
    padding: 5px;
}
table.Tab td{
    padding: 5px;
}
.skillcontainer{
    padding: 0px;
}
table.skills td{
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 6px;
    
}
.ending span{
    margin-right: 300px;
}
div.myDiv{
    padding-top: 20px;
}

